In [1]:
#-*- coding: utf-8 -*-
import warnings
warnings.filterwarnings('ignore')
import csv
import pandas as pd
graph = pd.read_csv("C:/Users/한유린/Desktop/객체지향 프로그래밍/오존_월별_도시별_대기오염도_2012.csv",encoding='euc-kr', engine='python')
graph

,시도별,2012. 01,2012. 02,2012. 03,2012. 04,2012. 05,2012. 06,2012. 07,2012. 08,2012. 09,2012. 10,2012. 11,2012. 12
0,서울,0.011,0.015,0.025,0.026,0.034,0.036,0.021,0.024,0.021,0.017,0.012,0.011
1,부산,0.022,0.022,0.033,0.038,0.041,0.034,0.026,0.027,0.032,0.028,0.022,0.018
2,대구,0.016,0.020,0.032,0.038,0.040,0.037,0.028,0.026,0.025,0.018,0.015,0.013
3,인천,0.016,0.020,0.027,0.030,0.036,0.035,0.021,0.026,0.026,0.022,0.015,0.014
4,광주,0.017,0.022,0.032,0.038,0.042,0.037,0.025,0.024,0.029,0.024,0.019,0.018
5,대전,0.013,0.018,0.029,0.034,0.042,0.036,0.027,0.023,0.025,0.018,0.015,0.011
6,울산,0.020,0.021,0.030,0.035,0.039,0.031,0.026,0.024,0.029,0.024,0.021,0.018
7,경기,0.013,0.017,0.027,0.031,0.038,0.039,0.024,0.026,0.022,0.018,0.014,0.012
8,강원,0.017,0.021,0.031,0.036,0.040,0.038,0.028,0.023,0.023,0.021,0.017,0.016
9,충북,0.013,0.018,0.029,0.034,0.040,0.038,0.027,0.024,0.026,0.018,0.015,0.013
10,충남,0.019,0.020,0.032,0.036,0.041,0.036,0.026,0.027,0.028,0.023,0.019,0.016
11,전북,0.016,0.017,0.026,0.031,0.041,0.039,0.027,0.026,0.032,0.025,0.019,0.016
12,전남,0.022,0.025,0.036,0.040,0.041,0.031,0.023,0.022,0.030,0.029,0.025,0.021
13,경북,0.019,0.023,0.034,0.038,0.040,0.034,0.026,0.022,0.025,0.021,0.020,0.018
14,경남,0.021,0.023,0.032,0.038,0.046,0.037,0.031,0.028,0.031,0.026,0.022,0.019
15,제주,0.029,0.034,0.042,0.044,0.052,0.042,0.025,0.022,0.037,0.039,0.031,0.028

In [2]:
graph[['2012. 01','2012. 02','2012. 03','2012. 04','2012. 05','2012. 06','2012. 07','2012. 08','2012. 09','2012. 10','2012. 11','2012. 12']] = graph[['2012. 01','2012. 02','2012. 03','2012. 04','2012. 05','2012. 06','2012. 07','2012. 08','2012. 09','2012. 10','2012. 11','2012. 12']].astype(float)

In [3]:
graph.dtypes

시도별          object
2012. 01    float64
2012. 02    float64
2012. 03    float64
2012. 04    float64
2012. 05    float64
2012. 06    float64
2012. 07    float64
2012. 08    float64
2012. 09    float64
2012. 10    float64
2012. 11    float64
2012. 12    float64
dtype: object

In [5]:
graph['평균'] = graph.mean(axis=1)
graph = graph.drop(["평균"],axis = 1)
graph

,시도별,2012. 01,2012. 02,2012. 03,2012. 04,2012. 05,2012. 06,2012. 07,2012. 08,2012. 09,2012. 10,2012. 11,2012. 12,총평균
0,서울,0.011,0.015,0.025,0.026,0.034,0.036,0.021,0.024,0.021,0.017,0.012,0.011,0.021083
1,부산,0.022,0.022,0.033,0.038,0.041,0.034,0.026,0.027,0.032,0.028,0.022,0.018,0.028583
2,대구,0.016,0.020,0.032,0.038,0.040,0.037,0.028,0.026,0.025,0.018,0.015,0.013,0.025667
3,인천,0.016,0.020,0.027,0.030,0.036,0.035,0.021,0.026,0.026,0.022,0.015,0.014,0.024000
4,광주,0.017,0.022,0.032,0.038,0.042,0.037,0.025,0.024,0.029,0.024,0.019,0.018,0.027250
5,대전,0.013,0.018,0.029,0.034,0.042,0.036,0.027,0.023,0.025,0.018,0.015,0.011,0.024250
6,울산,0.020,0.021,0.030,0.035,0.039,0.031,0.026,0.024,0.029,0.024,0.021,0.018,0.026500
7,경기,0.013,0.017,0.027,0.031,0.038,0.039,0.024,0.026,0.022,0.018,0.014,0.012,0.023417
8,강원,0.017,0.021,0.031,0.036,0.040,0.038,0.028,0.023,0.023,0.021,0.017,0.016,0.025917
9,충북,0.013,0.018,0.029,0.034,0.040,0.038,0.027,0.024,0.026,0.018,0.015,0.013,0.024583
10,충남,0.019,0.020,0.032,0.036,0.041,0.036,0.026,0.027,0.028,0.023,0.019,0.016,0.026917
11,전북,0.016,0.017,0.026,0.031,0.041,0.039,0.027,0.026,0.032,0.025,0.019,0.016,0.026250
12,전남,0.022,0.025,0.036,0.040,0.041,0.031,0.023,0.022,0.030,0.029,0.025,0.021,0.028750
13,경북,0.019,0.023,0.034,0.038,0.040,0.034,0.026,0.022,0.025,0.021,0.020,0.018,0.026667
14,경남,0.021,0.023,0.032,0.038,0.046,0.037,0.031,0.028,0.031,0.026,0.022,0.019,0.029500
15,제주,0.029,0.034,0.042,0.044,0.052,0.042,0.025,0.022,0.037,0.039,0.031,0.028,0.035417

In [6]:
def get_status(s):
    if s < 0.031:
        status = "좋음"
    elif s < 0.091:
        status = "보통"
    elif s < 0.151:
        status = "나쁨"
    else:
        status = "아주 나쁨"
    return status

In [7]:
graph["상태"] = graph["총평균"].apply(lambda s: get_status(s))
graph

,시도별,2012. 01,2012. 02,2012. 03,2012. 04,2012. 05,2012. 06,2012. 07,2012. 08,2012. 09,2012. 10,2012. 11,2012. 12,총평균,상태
0,서울,0.011,0.015,0.025,0.026,0.034,0.036,0.021,0.024,0.021,0.017,0.012,0.011,0.021083,좋음
1,부산,0.022,0.022,0.033,0.038,0.041,0.034,0.026,0.027,0.032,0.028,0.022,0.018,0.028583,좋음
2,대구,0.016,0.020,0.032,0.038,0.040,0.037,0.028,0.026,0.025,0.018,0.015,0.013,0.025667,좋음
3,인천,0.016,0.020,0.027,0.030,0.036,0.035,0.021,0.026,0.026,0.022,0.015,0.014,0.024000,좋음
4,광주,0.017,0.022,0.032,0.038,0.042,0.037,0.025,0.024,0.029,0.024,0.019,0.018,0.027250,좋음
5,대전,0.013,0.018,0.029,0.034,0.042,0.036,0.027,0.023,0.025,0.018,0.015,0.011,0.024250,좋음
6,울산,0.020,0.021,0.030,0.035,0.039,0.031,0.026,0.024,0.029,0.024,0.021,0.018,0.026500,좋음
7,경기,0.013,0.017,0.027,0.031,0.038,0.039,0.024,0.026,0.022,0.018,0.014,0.012,0.023417,좋음
8,강원,0.017,0.021,0.031,0.036,0.040,0.038,0.028,0.023,0.023,0.021,0.017,0.016,0.025917,좋음
9,충북,0.013,0.018,0.029,0.034,0.040,0.038,0.027,0.024,0.026,0.018,0.015,0.013,0.024583,좋음
10,충남,0.019,0.020,0.032,0.036,0.041,0.036,0.026,0.027,0.028,0.023,0.019,0.016,0.026917,좋음
11,전북,0.016,0.017,0.026,0.031,0.041,0.039,0.027,0.026,0.032,0.025,0.019,0.016,0.026250,좋음
12,전남,0.022,0.025,0.036,0.040,0.041,0.031,0.023,0.022,0.030,0.029,0.025,0.021,0.028750,좋음
13,경북,0.019,0.023,0.034,0.038,0.040,0.034,0.026,0.022,0.025,0.021,0.020,0.018,0.026667,좋음
14,경남,0.021,0.023,0.032,0.038,0.046,0.037,0.031,0.028,0.031,0.026,0.022,0.019,0.029500,좋음
15,제주,0.029,0.034,0.042,0.044,0.052,0.042,0.025,0.022,0.037,0.039,0.031,0.028,0.035417,보통

In [8]:
graph1 = graph[["시도별","총평균","상태"]]
graph1

   시도별       총평균  상태
0   서울  0.021083  좋음
1   부산  0.028583  좋음
2   대구  0.025667  좋음
3   인천  0.024000  좋음
4   광주  0.027250  좋음
5   대전  0.024250  좋음
6   울산  0.026500  좋음
7   경기  0.023417  좋음
8   강원  0.025917  좋음
9   충북  0.024583  좋음
10  충남  0.026917  좋음
11  전북  0.026250  좋음
12  전남  0.028750  좋음
13  경북  0.026667  좋음
14  경남  0.029500  좋음
15  제주  0.035417  보통