In [1]:
#-*- coding: utf-8 -*-
import warnings
warnings.filterwarnings('ignore')
import csv
import pandas as pd
graph = pd.read_csv("C:/Users/한유린/Desktop/객체지향 프로그래밍/오존_월별_도시별_대기오염도_2011.csv",encoding='euc-kr', engine='python')
graph

,시도별,2011. 01,2011. 02,2011. 03,2011. 04,2011. 05,2011. 06,2011. 07,2011. 08,2011. 09,2011. 10,2011. 11,2011. 12
0,서울,0.013,0.012,0.026,0.028,0.028,0.031,0.017,0.018,0.021,0.014,0.012,0.010
1,부산,0.023,0.024,0.032,0.038,0.033,0.031,0.020,0.025,0.028,0.027,0.020,0.019
2,대구,0.019,0.017,0.029,0.039,0.038,0.041,0.021,0.021,0.026,0.018,0.015,0.014
3,인천,0.017,0.016,0.027,0.028,0.028,0.031,0.019,0.020,0.025,0.020,0.014,0.013
4,광주,0.020,0.020,0.030,0.038,0.038,0.038,0.022,0.024,0.025,0.021,0.016,0.015
5,대전,0.014,0.016,0.030,0.034,0.031,0.034,0.018,0.022,0.021,0.016,0.014,0.012
6,울산,0.021,0.022,0.030,0.033,0.033,0.032,0.020,0.022,0.026,0.024,0.017,0.018
7,경기,0.013,0.014,0.027,0.030,0.031,0.035,0.021,0.021,0.023,0.016,0.014,0.012
8,강원,0.019,0.019,0.032,0.038,0.036,0.043,0.022,0.021,0.025,0.020,0.019,0.018
9,충북,0.013,0.015,0.028,0.038,0.040,0.044,0.022,0.022,0.022,0.015,0.014,0.012
10,충남,0.019,0.019,0.029,0.032,0.034,0.034,0.020,0.021,0.023,0.019,0.018,0.017
11,전북,0.017,0.019,0.029,0.035,0.034,0.035,0.020,0.022,0.023,0.021,0.018,0.014
12,전남,0.027,0.026,0.036,0.043,0.037,0.034,0.022,0.023,0.026,0.027,0.021,0.020
13,경북,0.023,0.022,0.034,0.040,0.037,0.037,0.022,0.021,0.024,0.023,0.017,0.017
14,경남,0.022,0.021,0.031,0.035,0.034,0.035,0.023,0.024,0.029,0.025,0.019,0.020
15,제주,0.034,0.042,0.048,0.055,0.049,0.039,0.025,0.030,0.038,0.037,0.032,0.027

In [2]:
graph[['2011. 01','2011. 02','2011. 03','2011. 04','2011. 05','2011. 06','2011. 07','2011. 08','2011. 09','2011. 10','2011. 11','2011. 12']] = graph[['2011. 01','2011. 02','2011. 03','2011. 04','2011. 05','2011. 06','2011. 07','2011. 08','2011. 09','2011. 10','2011. 11','2011. 12']].astype(float)

In [3]:
graph.dtypes

시도별          object
2011. 01    float64
2011. 02    float64
2011. 03    float64
2011. 04    float64
2011. 05    float64
2011. 06    float64
2011. 07    float64
2011. 08    float64
2011. 09    float64
2011. 10    float64
2011. 11    float64
2011. 12    float64
dtype: object

In [5]:
graph['평균'] = graph.mean(axis=1)
graph = graph.drop(["평균"],axis = 1)
graph

,시도별,2011. 01,2011. 02,2011. 03,2011. 04,2011. 05,2011. 06,2011. 07,2011. 08,2011. 09,2011. 10,2011. 11,2011. 12,총평균
0,서울,0.013,0.012,0.026,0.028,0.028,0.031,0.017,0.018,0.021,0.014,0.012,0.010,0.019167
1,부산,0.023,0.024,0.032,0.038,0.033,0.031,0.020,0.025,0.028,0.027,0.020,0.019,0.026667
2,대구,0.019,0.017,0.029,0.039,0.038,0.041,0.021,0.021,0.026,0.018,0.015,0.014,0.024833
3,인천,0.017,0.016,0.027,0.028,0.028,0.031,0.019,0.020,0.025,0.020,0.014,0.013,0.021500
4,광주,0.020,0.020,0.030,0.038,0.038,0.038,0.022,0.024,0.025,0.021,0.016,0.015,0.025583
5,대전,0.014,0.016,0.030,0.034,0.031,0.034,0.018,0.022,0.021,0.016,0.014,0.012,0.021833
6,울산,0.021,0.022,0.030,0.033,0.033,0.032,0.020,0.022,0.026,0.024,0.017,0.018,0.024833
7,경기,0.013,0.014,0.027,0.030,0.031,0.035,0.021,0.021,0.023,0.016,0.014,0.012,0.021417
8,강원,0.019,0.019,0.032,0.038,0.036,0.043,0.022,0.021,0.025,0.020,0.019,0.018,0.026000
9,충북,0.013,0.015,0.028,0.038,0.040,0.044,0.022,0.022,0.022,0.015,0.014,0.012,0.023750
10,충남,0.019,0.019,0.029,0.032,0.034,0.034,0.020,0.021,0.023,0.019,0.018,0.017,0.023750
11,전북,0.017,0.019,0.029,0.035,0.034,0.035,0.020,0.022,0.023,0.021,0.018,0.014,0.023917
12,전남,0.027,0.026,0.036,0.043,0.037,0.034,0.022,0.023,0.026,0.027,0.021,0.020,0.028500
13,경북,0.023,0.022,0.034,0.040,0.037,0.037,0.022,0.021,0.024,0.023,0.017,0.017,0.026417
14,경남,0.022,0.021,0.031,0.035,0.034,0.035,0.023,0.024,0.029,0.025,0.019,0.020,0.026500
15,제주,0.034,0.042,0.048,0.055,0.049,0.039,0.025,0.030,0.038,0.037,0.032,0.027,0.038000

In [6]:
def get_status(s):
    if s < 0.031:
        status = "좋음"
    elif s < 0.091:
        status = "보통"
    elif s < 0.151:
        status = "나쁨"
    else:
        status = "아주 나쁨"
    return status

In [7]:
graph["상태"] = graph["총평균"].apply(lambda s: get_status(s))
graph

,시도별,2011. 01,2011. 02,2011. 03,2011. 04,2011. 05,2011. 06,2011. 07,2011. 08,2011. 09,2011. 10,2011. 11,2011. 12,총평균,상태
0,서울,0.013,0.012,0.026,0.028,0.028,0.031,0.017,0.018,0.021,0.014,0.012,0.010,0.019167,좋음
1,부산,0.023,0.024,0.032,0.038,0.033,0.031,0.020,0.025,0.028,0.027,0.020,0.019,0.026667,좋음
2,대구,0.019,0.017,0.029,0.039,0.038,0.041,0.021,0.021,0.026,0.018,0.015,0.014,0.024833,좋음
3,인천,0.017,0.016,0.027,0.028,0.028,0.031,0.019,0.020,0.025,0.020,0.014,0.013,0.021500,좋음
4,광주,0.020,0.020,0.030,0.038,0.038,0.038,0.022,0.024,0.025,0.021,0.016,0.015,0.025583,좋음
5,대전,0.014,0.016,0.030,0.034,0.031,0.034,0.018,0.022,0.021,0.016,0.014,0.012,0.021833,좋음
6,울산,0.021,0.022,0.030,0.033,0.033,0.032,0.020,0.022,0.026,0.024,0.017,0.018,0.024833,좋음
7,경기,0.013,0.014,0.027,0.030,0.031,0.035,0.021,0.021,0.023,0.016,0.014,0.012,0.021417,좋음
8,강원,0.019,0.019,0.032,0.038,0.036,0.043,0.022,0.021,0.025,0.020,0.019,0.018,0.026000,좋음
9,충북,0.013,0.015,0.028,0.038,0.040,0.044,0.022,0.022,0.022,0.015,0.014,0.012,0.023750,좋음
10,충남,0.019,0.019,0.029,0.032,0.034,0.034,0.020,0.021,0.023,0.019,0.018,0.017,0.023750,좋음
11,전북,0.017,0.019,0.029,0.035,0.034,0.035,0.020,0.022,0.023,0.021,0.018,0.014,0.023917,좋음
12,전남,0.027,0.026,0.036,0.043,0.037,0.034,0.022,0.023,0.026,0.027,0.021,0.020,0.028500,좋음
13,경북,0.023,0.022,0.034,0.040,0.037,0.037,0.022,0.021,0.024,0.023,0.017,0.017,0.026417,좋음
14,경남,0.022,0.021,0.031,0.035,0.034,0.035,0.023,0.024,0.029,0.025,0.019,0.020,0.026500,좋음
15,제주,0.034,0.042,0.048,0.055,0.049,0.039,0.025,0.030,0.038,0.037,0.032,0.027,0.038000,보통

In [8]:
graph1 = graph[["시도별","총평균","상태"]]
graph1

   시도별       총평균  상태
0   서울  0.019167  좋음
1   부산  0.026667  좋음
2   대구  0.024833  좋음
3   인천  0.021500  좋음
4   광주  0.025583  좋음
5   대전  0.021833  좋음
6   울산  0.024833  좋음
7   경기  0.021417  좋음
8   강원  0.026000  좋음
9   충북  0.023750  좋음
10  충남  0.023750  좋음
11  전북  0.023917  좋음
12  전남  0.028500  좋음
13  경북  0.026417  좋음
14  경남  0.026500  좋음
15  제주  0.038000  보통